@import "./utils/variables";
@import "./utils/visually-hidden";

@import "./base/common";
@import "./base/container";

@import "./components/social-links";
@import "./components/logo-header";
@import "./components/title";
@import "./components/logo-footer";
@import "./components/backdrop";
@import "./components/_modal-window";
@import "./components/_contact-form";

@import "./layout/header";
@import "./layout/mobile-menu";
@import "./layout/hero";
@import "./layout/specifics";
@import "./layout/description";
@import "./layout/employees";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio-projects";
