.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-bg.jpg");
  background-color: #c4c4c4;
  background-size: cover;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.main-tittle {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--third-text-color);
}

.modal-btn {
  min-width: 200px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-hover-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .main-tittle {
    font-size: 26px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .main-tittle {
    font-size: 44px;
    line-height: 1.36;
  }
}
