.specifics__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
}

.specifics__icon {
  align-items: center;
}
.specifics__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.specifics__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
  .specifics__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .specifics__container {
    width: 100%;
  }
  .specifics__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .specifics__title {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .specifics__list {
    display: flex;
    margin-left: -30px;
    margin-bottom: -30px;
  }

  .specifics__item {
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .specifics__item {
    margin-left: 30px;
    width: calc((100% - 3 * 30px) / 4);
  }
}
