// .logo-header {
//   margin-right: 90px;
//   padding-top: 24px;
//   padding-bottom: 24px;
//   font-family: var(--secondary-font-family);
//   font-style: normal;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: var(--logo-header-text-color);
// }

.logo-header {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-header-text-color);
}

.first-part-logo {
  color: var(--accent-color);
}

// destcop 768+
@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
    // padding-top: 26px;
    // padding-bottom: 26px;
  }
}

// destcop 1200+
@media screen and (min-width: 1200px) {
  .logo-header {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}
