.social-links__list {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-right: auto;
  // padding-left: auto;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.social-links_light_theme {
  background-color: var(--third-text-color);
}

.social-links_dark_theme {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links__icon {
  width: 20px;
  height: 20px;
}

.icon_light_theme {
  fill: var(--icon-fill-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_dark_theme {
  fill: var(--logo-footer-text-color);
}

@media screen and (min-width: 1200px) {
  .social-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  .social-links:hover .social-links__icon,
  .social-links:focus .social-links__icon {
    fill: var(--logo-footer-text-color);
  }
}
