body {
  font-family: var(--primary-font-family);
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--third-text-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
